<div class="row">
	<div class="span3">
		<%= partial(:project_list, :projects => @viewmodel.projects) %>
		<hr />
		<%= partial(:form_new_project) %>
	</div>
	<div class="span9">
		<h2><%= @viewmodel.project ? @viewmodel.project.name : '' %></h2>
		<%= partial(:task_list, { :title => 'Tasks', :tasks => @viewmodel.undone_tasks, :type => 'undone-tasks' }) %>
		<hr />
		<%= partial(:form_new_task, :project => @viewmodel.project) %>
		<%= partial(:task_list, { :title => 'Done tasks', :tasks => @viewmodel.done_tasks, :type => 'done-tasks' }) %>
	</div>
</div>
