<div class="task-list <%= type %>" data-task-type="<%= type %>">
	<% if(defined? title) %>
		<h2><%= title %></h2>
	<% end %>
	<% tasks.each do |task| %>
		<div class="task-group">
	    	
    		<div class="row">
	    		<div class="col-xs-10">
		    		<div class="task-title">
			    		<form action="/task/done" method="post" class="inline-form">
				    		<div class="checkbox">
							    <label>
						      	<input type="checkbox" value="<%= task._id %>" <%= type == 'undone-tasks' ? '' : 'checked="checked"' %> /> <a class="task_title_link" href="#<%= task._id %>"><%= task.title %></a>
							    </label>
							</div>
			    		</form>
		  			</div>
	  			</div>
	  			<div class="col-xs-2">
	  				<div class="delete-form">
			  			<form action="/task/delete" method="post" class="inline-form">
			  				<input type="hidden" name="id" value="<%= task._id %>" />
			  				<button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
			  			</form>
		  			</div>
	  			</div>
  			</div>
	    	
	    	<div id="<%= task._id %>" class="task-description col-xs-10">
	    		<div class="well">
		    		<div class="edit-button-wrapper">
		    			<a class="edit-description-link" href="#"><span class="glyphicon glyphicon-edit"></span></a>
		    		</div>
		    		<div class="description-text">
		    			<%= task.description ||= 'no description' %>
		    		</div>
	    			<div class="description-form" style="display:none;">
	    				<form action="/task/edit_description" method="post" class="form-inline">
	    					<input type="hidden" name="task_id" value="<%= task._id %>" />
	    					<textarea name="description" rows="2" class="form-control" placeholder="Some description"><%= task.description %>
	    					</textarea>
	    					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
	    				</form>
	    			</div>
    			</div>
	    	</div>
		</div>
	<% end %>
</div>
